* {
    margin: 0;
    padding: 0;

}



.b-header {
    background-image: url(image/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 730px;
    width: 100%;
}

.b-container {
    width: 960px;
    margin: 0 auto;
}

.b-logo {
    width: 350px;
    padding-top: 67px;
}

.b-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.b-header__tag {
    display: block;
    position: relative;
    float: right;
    right: 21px;
    bottom: 137px;
    border-color: rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.8);
    width: 457px;
    min-height: 162px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
}
.b-header__tag:before {
    content: "";
    position: absolute;
    right: 477px;
    top: 70px;
    background: 15px rgba(255,255,255,0.8);
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: 15px solid rgba(255,255,255,0.8);
    border-left: 0px;
}

.b-header__line {
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 36px;
    padding-right: 5px;
}

.b-header__line--around {
    padding-top: 5px;
    letter-spacing: 2px;
}

.b-phone__tag {
    position: relative;
    color: #000000;
    text-decoration: underline dashed;
    text-underline-position: auto;
    font-size: 48px;
    right: 10px;
    padding-left: 5px;
}

.b-header__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -100px;
    font-family:  'Open Sans';
    font-weight: lighter;
    font-size: 36px;
    margin-top: 66px;
    clear: both;
}

.b-header__text--line {
    background-color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
}

.b-phone {
    color: #000000;
    text-decoration: none;
    padding-right: 5px;
}

mark {
    color: red;
    background: transparent;
}

.b-header__text--mark {
    font-family: 'Open Sans';
    font-weight: bold;
}

.b-header__form {
    position: relative;
    bottom: 70px;
}

.b-form__input--text {
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 36px;
    padding-left: 20px;
    outline: none;
}

.b-form__input--phone {
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 36px;
    width: 50%;
    padding-left: 20px;
    outline: none;
}

.b-form__input--submit {
    position: relative;
    right: 13px;
    bottom: 5px;
    display: block;
    background-color: #9c1012;
    color: white;
    border-color: #9c1012;
    box-shadow: 0px 3px 5px 0px #000000;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    border-radius: 5px;
    padding: 7px 25px;
    width: 275px;
}

.b-form--star {
    position: relative;
    bottom: 50px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 36px;
    color: #ab4b56;
}

.b-benefits {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.b-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    padding-top: 17px;
}

.b-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    grid-column-gap: 50px;
    margin-bottom: 60px;
}

.b-benefits__figure {
    position: relative;
    margin-top: 30px;
}

.b-benefits__figcaption{
    position: absolute;
    left: 145px;
    bottom: 55px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    max-height: 100px;
}

.b-background {
    background-color: #f7f7f7;
}

.b-advantages__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    padding-top: 20px;
}

.b-advantages {
    padding: 40px 0 60px
}
.b-advantages__listitems {
    list-style-image: url(image/pf.png);
    padding-left: 70px;
    padding-top: 50px;
}

.b-advantages__item {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.b-help {
    display: block;
    position: relative;
    margin: auto;
}

.b-help__info {
    position: relative;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 28px;
    padding-top: 104px;
    padding-left: 152px;
}

.b-help__info--exit {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 28px;
    padding-left: 152px;
    padding-bottom: 25px;
}

.b-help--container {
    padding: 5px 60px;
}

.b-help__explanation {
    border: 2px solid #ff9c00;
    border-radius: 7px;
    padding-bottom: 10px;
}

.b-help__explanation:before {
    content: "";
    position: absolute;
    background: url("image/mark.png") no-repeat;
    height: 200px;
    width: 40px;
    z-index: 1;
    left: 89px;
    bottom: 140px;
}

.b-help__text {
    font-family: "Open sens";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    padding-top: 16px;
    left: 50px;
    text-align: center;
}

.b-line {
    position: relative;
    background: #000000;
    width: 110px;
    height: 3px;
    top: 15px;
    left: 370px;
}

.b-help__actions {
    position: relative;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
}

.b-help__beginning {
    margin-top: 32px;
}

.b-help__end {
    margin-top: 15px;
}

.b-main__color {
    background-color: #bb1d1f;
}

.b-main__section {
    margin-top: 90px;
    padding-bottom: 40px;
}

.b-number {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    padding-top: 32px;
    padding-left: 15px;
    text-align: center;
    padding-bottom: 30px;
}

.b-form {
    padding-top: 10px;
}

.b-form__input--name,
.b-form__input--tel {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
    height: 35px;
    width: 335px;
}


.b-form__input--tel {
    margin-left: 15px;
}

.b-form__input--button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    background-color: #bb1d1f;
    color: #f7f7f7;
    border: 1px solid #ffffff;
    margin-left: 15px;
    padding: 5px 20px;
}

.b-phone__section {
    color:#ffffff;
    text-decoration: none;
}

.b-footer__logo {
    padding-top: 45px;
}

.b-footer__phone {
    position: relative;
    left: 220px;
    bottom: 40px;
    font-family: "open Sans Condensed";
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: black;
    border-bottom: 1px dashed #000000;
}

.b-footer__info {
    position: relative;
    font-family: "Open sans condensed";
    font-weight: bold;
    font-size: 21px;
    bottom: 30px;
}

.b-footer__copyright{
    position: relative;
    float: right;
    bottom: 85px;
}

.b-footer__text {
    position: relative;
    top: -5px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    color: #9b9b9b;
}