* {
    margin: 0;
    padding: 0;
}

.b-header {
    background-image: url(image/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 730px;
    width: 100%;
}

.b-logo {
    width: 350px;
    padding-top: 67px;
    display: block;
}

.b-container {
    width: 960px;
    margin: 0 auto;
}

.b-header__tag {
    display: block;
    position: relative;
    float: right;
    right: 25px;
    bottom: 137px;
    border-color: rgba(255,255,255,0.8);;
    background: rgba(255,255,255,0.8);;
    max-width: 457px;
    min-height: 162px;
    border-radius: 10px;
    text-align: right;
    font-size: 36px;
    padding: 10px;
}

.b-header__tag:before {
    content: "";
    position: absolute;
    top: 75px;
    left: -15px;;
    background: 15px solid rgba(255,255,255,0.8);
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: 15px solid rgba(255,255,255,0.8);
    border-left: 0px;
}

.b-header__line {
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 36px;
}

.b-header__line--around {
    padding-top: 5px;
    letter-spacing: 2px;
}

.b-phone__tag {
    color: #000000;
    text-decoration: underline dashed;
    font-size: 48px;
    right: 20px;
    bottom: 20px;
}

.b-header__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -100px;
    font-family:  'Open Sans';
    font-weight: lighter;
    font-size: 36px;
    margin-top: 66px;
    clear: both;
}

.b-header__text--line {
    background-color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.b-phone {
    color: #000000;
    text-decoration: none;
    padding-right: 5px;
}

mark {
    color: red;
    background: transparent;
}

.b-header__text--mark {
    font-family: 'Open Sans';
    font-weight: bold;
}

.b-header__form {
    clear: both;
    position: relative;
    bottom: 65px;
    padding-left: 8px;
}

.b-form__input--text {
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 36px;
}

.b-form__input--phone {
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 36px;
    margin-top: 37px;
    width: 50%;
}

.b-form__input--submit {
    display: block;
    background-color: #9c1012;
    color: white;
    border-color: #9c1012;
    box-shadow: 0px 3px 5px 0px #000000;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    margin-top: 45px;
    border-radius: 5px;
    padding: 5px 25px;
}

.b-benefits {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.b-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    padding-top: 17px;
}

.b-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    grid-column-gap: 41px;
    margin-bottom: 60px;
    left: 20px;
}

.b-benefits__figure {
    position: relative;
    margin-top: 30px;
    width: 300px;
}

.b-benefits__figcaption{
    position: absolute;
    left: 150px;
    bottom: 50px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
    vertical-align: center center;
}

.b-background {
    background-color: #f7f7f7;
}

.b-advantages__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 50px;
}

.b-advantages {
    padding-top: 40px;
    padding-bottom: 60px;
}
.b-advantages__listitems {
    list-style-image: url(image/pf.png);
    padding-left: 79px;
}

.b-advantages__item {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.b-help {
    display: block;
    margin-top: 140px;
    padding-left: 168px;
}

.b-help__info {
    position: relative;
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: -35px;
    margin-left: -10px;
}

.b-help__info--exit {
    margin-top: 4px;
}

.b-help__mark {
    position: absolute;
    margin-left: -75px;
    margin-top: -20px;
    z-index: 1;
}

.b-help__explanation {
    display: block;
    border: 2px solid #ff9c00;
    margin-top: 25px;
    border-radius: 10px;
    margin-left: -97px;
    margin-right: 79px;
    padding-bottom: 20px;
    overflow: hidden;
}

.b-help__text {
    display: block;
    font-family: "Open sens";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    padding-top: 16px;
    left: 50px;
    text-align: center;
}

.b-line {
    position: absolute;
    right: 610px;
    background: #000000;
    width: 110px;
    height: 3px;
    margin-top: 17px;
}

.b-help__actions {
    position: relative;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
}

.b-help__beginning {
    margin-top: 32px;
}

.b-help__end {
    margin-top: 15px;
}

.b-main__color {
    background-color: #bb1d1f;
}

.b-main__section {
    margin-top: 90px;
    padding-bottom: 40px;
}

.b-number {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    padding-top: 32px;
    padding-left: 15px;
    text-align: center;
    padding-bottom: 30px;
}

.b-form {
    padding-left: 11px;
    padding-top: 10px;
}

.b-form__input--name,
.b-form__input--tel {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
    height: 35px;
    width: 330px;
}


.b-form__input--tel {
    margin-left: 15px;
}

.b-form__input--button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    background-color: #bb1d1f;
    color: #f7f7f7;
    border: 1px solid #ffffff;
    margin-left: 15px;
    padding: 5px 20px;
}

.b-phone__section {
    color:#ffffff;
    text-decoration: none;
}

.b-footer__logo {
    margin-top: 45px;
}

.b-footer__phone {
    position: absolute;
    left: 415px;
    margin-top: 10px;
    font-family: "open Sans Condensed";
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: black;
    border-bottom: 1px dashed #000000;
}

.b-footer__info {
    position: relative;
    font-family: "Open sans condensed";
    font-weight: bold;
    font-size: 21px;
    top: -5px;
}

.b-footer__copyright{
    position: relative;
    float: right;
    bottom: 60px;
}

.b-footer__text {
    position: relative;
    top: -5px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    color: #9b9b9b;
}
